.app {
  width: 100%;
  height: calc(100% - 32px);
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.app > * {
  width: 50%;
  height: 100%;
}

.app-box {
  height: 100%;
  overflow-y: auto;
  vertical-align: top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movie-table {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 1px solid #e8e8e8;
}

.movie-info {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}

.movie-info__placeholder {
  align-self: center;
}
